body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

#row3, #row6, #row9{
  border-bottom: 3px solid black;
}

.square:nth-of-type(3){
  border-right: 3px solid black;
}

.square:nth-of-type(6){
  border-right: 3px solid black;
} 

.square:nth-of-type(9){
  border-right: 3px solid black;
}

.square[readOnly]{
  background: #87CEFA;
}

.Title{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin: 8px;
  padding: 2px;
}

#row1{
  border-top: 3px solid black;
}

.square:nth-of-type(1){
  border-left: 3px solid black;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #e0f2fb;
  border: .5px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
