<h1>{{title}}</h1>
<p>We are here to provide you services that {{corporatebs}}</p>

<form action="/">
    <label for="wish">Wishlist:</label><br>
    <input type="text" id="wish" name="wish" placeholder="add new wish"><br>
    <input type="submit" value="Submit">

</form>
<ol>
    <li>{{wish}}</li>
</ol>